<%- include ("partials/header")%>

<section id="all-about-me" class="container-fluid px-0">
    <div class="row">
        <div class="col-lg-6">
            <div class=" ">
                <img class="img-fluid" src="https://imgur.com/C2jSOqe.jpg" alt="Responsive image">
            </div>
        </div>
        <div class="col-lg-6 mt-5">
            <div class="row justify-content-center ">
                <div id="about" class="col-10">
                    <h2>ABOUT ME</h2>
                    <p >Hi, my name is Makini, a tech aficionado from India, a photographer, and I am a full stack web developer.
                        I like to code things from scratch, and enjoy bringing ideas to life in the browser.
                        <p>
                           I value simple content structure, clean design patterns, and thoughtful interactions.
                           I genuinely care about people, and love helping fellow designers work on their craft.
                        </p>
                       <p>
                           I'm quietly confident, naturally curious, and perpetually working on improving my chops one design problem at a time.
                       </p>
                       </p>
                       <p>During my free time, I walk into the medical school, and learn about life. 
                           Besides, I play guitar and spend time with loved ones!</p>
                    <p>
                         <a href="/skills">HERE ARE THE LANGUAGES I SPEAK...</a> 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include ("partials/footer")%>