<%- include ("partials/header")%>

<section id="projects-section" class="container-fluid px-0">
  <div class="row">
    <div class=" col-md-6 px-0 mr-0">
      <img id="image-projects" class="img-fluid" src="https://images.unsplash.com/photo-1587945259073-5b6a253dd607?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
    </div>
    <div id="content-list-group" class="col-md-6 mt-5 mt-md-2">
       <div class="row justify-content-center">
            <div class="col-10">
              <p class="mb-3 mb-md-2">Here are a few design projects have worked on recently. Want to see more? <a href="mailto:brianmakini@gmail.com">Email me</a></p>
                <div class="list-group">
                  <a target="_blank" rel="noopener noreferrer" href="https://sweemey-ice-cream.herokuapp.com/" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Sweemey-Cream</h5>
                      <small class="text-muted">Static Site</small>
                    </div>
                    <p class="mb-1">An Ice-Cream Vending business website.</p>
                    <small class="text-muted">Coded from Scratch: HTML, CSS, JAVASCRIPT, EXPRESS</small>
                  </a>
                  <a target="_blank" rel="noopener noreferrer" href="https://women-surgery-association.herokuapp.com/" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Women in Surgery Association</h5>
                      <small class="text-muted">Static Site</small>
                    </div>
                    <p class="mb-1">A professional organizational website for association of women in surgery in an non-existence country Nauru. </p>
                    <small class="text-muted">Coded from Scratch: HTML, CSS, JAVASCRIPT, EXPRESS. Uses Bootstrap colors and grid system!</small>
                  </a>
                  <a target="_blank" rel="noopener noreferrer" href="https://makini-todo-list.herokuapp.com/" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">A simple to-do list</h5>
                      <small class="text-muted">Static Site</small>
                    </div>
                    <p class="mb-1">A small to do list without back end </p>
                    <small class="text-muted">Coded from Scratch: HTML, CSS, JAVASCRIPT, EXPRESS.</small>
                  </a>
                
                  
                </div>
            </div>
       </div>
    </div>
  </div>
</section>



<%- include ("partials/footer")%>