<%- include ("partials/header")%>

<body class="sk">
    <div class=" ski container"> 
        <h2>Skills</h2>
    <p class="skills">
        <ul>
            
            <li>HTML & CSS</li>
    
            <li>Javascript</li>
            <li>Node.js - Express, MongoDB,</li>
            <li>Full Stack (Front & Back End) Development</li>
            <li>Static & Dynamic websites</li>
        </ul>
    </p>
    
    <p><a href="/projects">My Projects</a></p>
    <p><a href="/">Home</a></p>
    </div>
</body>

<%- include ("partials/footer")%>